body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

canvas{
  overflow: hidden;
}

.btn-page{
  position: absolute;
  width: 150px;
  height: 150px;
  cursor: pointer;
  border:0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-face{
  position: absolute;
  width: 75px;
  height: 75px;
  cursor: pointer;
  display: block;
  background-color: gray;
  border-radius: 200px;
  border: 1px;
  padding: 0;
  margin: 0;
}

.btn-face > span{
  font-size: 50%;
}

#page-number{
  position: absolute;
  display: block;
}

.btn-page.btn-prev{
  background-image: url("../src/imgs/btn_previous.png");
}

.btn-page.btn-next{
  background-image: url("../src/imgs/btn_next_readfirst.png");
}

.loadingscreen{
  position: absolute;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  z-index: 5;
}