body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  position: relative;
  overflow: hidden;
}

canvas{
  overflow: hidden;
}

.btn-page{
  position: absolute;
  width: 150px;
  height: 150px;
  cursor: pointer;
  border:0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-page.btn-prev{
  background-image: url("../src/imgs/btn_previous.png");
}

.btn-page.btn-next{
  background-image: url("../src/imgs/btn_next_readfirst.png");
}